*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	color: #555;
}

body {
	padding: 20px;
	height: 100vh;
	overflow: hidden;
	font-family: Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/* form {
border-radius: 20px;
background-color: black;
color: white;
position: relative;
right: 900;
} */

.container{
	width: 1080px;
}
img {
	margin-top: -40px;
	margin-left: 0px; 

}

.btn btn-rounded {
	background-color: red;
	color: white;
	 position: relative; 
	 left: 1500px;

}

a {
	text-decoration: none;
}
li a:hover {
	text-decoration: underline;
}
.small-text {
	font-size: 0.9rem;
}
.menu-bg {

	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.menu-button:hover {

background-color: rgba(100, 100, 100, 1);
cursor: pointer;
}
.menu-button {
    width: 15px;
    vertical-align: top;
}

.profile-pic {
	margin-top: 6px;
	border-radius: 50%;
}

.search-wrapper {
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	position: relative;
	margin-top: -25px;
}

input {
	width: 580px;
	height: 50px;
	padding-left: 50px;
	font-size: 1.2rem;
	border-radius: 45px;
	border: 1px solid #d3d3d3;
}

input:hover {
	box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}

input:focus {
	outline: none;
}

.search {
	width: 20px;
	position: absolute;
	top: 15px;
	left: 15px;
}

.mic {
	width: 30px;
	position: absolute;
	top: 10px !important;
	left: 540px;
}

.buttons { 
width: 350px; 
margin: auto;
margin-top: 30px;
display: flex;
justify-content: center;
gap: 15px;
}

button {
	border: 1px solid transparent;
	padding: 8px 12px;
	background-color: white;
	border-radius: 5px;
}

button:hover {
	border: 1 px solid #eee;
	box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
	cursor: pointer;
}

footer {
	width: 100%;
	background-color: white;
}

.panel {
	border-bottom: 1px solid #ddd;
	height: 50px;
	display: 50px;
	justify-content: space-between;
	padding: 15px;
}

.panel > * {
	flex-basis: 33%;
}

p { 
color: grey; 
padding-left: 13px;

}

.right { 
	justify-content: flex-end;
 }